.logs{

    width: 800px;
    padding: 20px;
    
    margin: 100px auto;
    margin-top: 20px ;
    background-color: rgb(241, 238, 234);


}

.no-logs{
    text-align: center;
    font-size: 30px;
    font-weight: bold;

}