.logForm{

    width: 800px;
    padding: 20px;
    margin: 20px auto;
    margin-bottom: 10px;
    background-color: rgb(241, 238, 234);
    text-align: center;
   
}

.formItem{
    display: flex;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}



.formItem input{
    flex: auto;

}

.formBtn button{
    font-size: 40px;
    border: none;
    background-color: green;
    color: white;
    font-weight: bold;
}


